* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246);
}

li {
    list-style-type: none;
}

#head {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 72px;
    line-height: 20px;
    opacity: 0.9;
    background: white;
    text-align: center;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

#searchDiv {
    height: 100%;
    float: left;
    margin-left: 360px;
}

#search:hover, #logo:hover {
    cursor: pointer;
}

#goToRegister, #goToLogin {
    color: rgb(0, 118, 227);
    text-decoration: underline;
}

#goToRegister:hover, #goToLogin:hover {
    color: rgb(20, 142, 255);
    cursor: pointer;
}

#searchInput {
    width: 251px;
    height: 14px;
    border-radius: 6px;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
    margin-top: 11px;
    padding: 18px 10px;
}

#search {
    position: relative;
    top: 3px;
    left: -30px;
}

#logo {
    margin-left: 190px;
    float: left;
    width: 72px;
    height: 72px;
}

#personal {
    float: right;
    height: 72px;
    width: 200px;
    line-height: 80px;
    margin-right: 190px;
}

#personal img {
    margin: 0 5px;
}

#personal img:hover {
    cursor: pointer;
}

#main {
    width: 960px;
    margin: 10px auto;
}

#tags {
    width: 250px;
    height: 120px;
    float: right;
    background-color: white;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    text-align: center;
}

#tags_1 {
    background-image: url("../img/icon/library.ico");
}

#tags_2 {
    background-image: url("../img/icon/mountain.ico");
}

#tags_3 {
    background-image: url("../img/icon/football.ico");
}

#tags_4 {
    background-image: url("../img/icon/crowd.ico");
}

#mine {
    width: 250px;
    height: 200px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    float: right;
    background-color: white;
    margin: 10px 0;
    text-align: center;
}

#mine_1 {
    background-image: url("../img/icon/write.ico");
}

#mine_2 {
    background-image: url("../img/icon/star1.ico");
}

#mine_3 {
    background-image: url("../img/icon/wallet.ico");
}

#mine_4 {
    background-image: url("../img/icon/history.ico");
}

.iconDiv {
    width: 27px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center center;
}

#mine li {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

#tags li {
    float: left;
    height: 50px;
    width: 105px;
    padding: 5px 10px;
}

#tags span {
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    font-family: Roboto;
    display: block;
    float: right;;
    margin: 14px auto;
}

#mine .iconDiv {
    float: left;
    margin-left: 73px;
}

#mine span {
    display: block;
    float: right;
    margin-right: 73px;
}

#tags li:hover, #mine li:hover {
    cursor: pointer;
    background-color: rgb(246, 246, 246);
}

#detail {
    width: 700px;
    float: left;
    background-color: rgb(246, 246, 246);
}

.activity {
    width: 680px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    padding: 10px;
    margin-bottom: 10px;
}

.activity .infoDiv {
    width: 100%;
    height: 35px;
}

.activity .infoDiv span {
    display: inline-block;
}

.userHeadImg {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(187, 187, 187, 1);
    float: left;
}

.userName {
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    float: left;
    padding: 5px 5px;
}

.userRemark {
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    float: left;
    margin: 8px;
}

.tag {
    float: right;
    font-size: 14px;
    color: rgb(187, 187, 187);
}

.activity .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.activity p {
    display: block;
    margin: 10px;
    width: 660px;
    max-height: 100px;
    line-height: 20px;
    overflow-y: hidden;
    font-size: 15px;
}

.activity .title:hover {
    cursor: pointer;
    color: rgb(13, 59, 255);
}

.activity p:hover {
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.operations {
    height: 30px;
    padding: 7px;
}

.operations img {
    margin-right: 5px;
}

.operations div {
    float: left;
    color: rgb(178, 178, 178);
    font-size: 14px;
    margin-right: 25px;
}

.operations div:hover {
    cursor: pointer;
}

#hideDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
}

#newActivity {
    position: fixed;
    left: 377px;
    top: 100px;
    width: 565px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    padding: 20px 10px;
}

#activityInfo {
    width: 520px;
    margin: 0 auto;
    font-size: 14px;
}

#newTitle, #newTag {
    margin: 10px auto;
}

#activityInfo input, #tag {
    border-radius: 5px;
    border: 1px solid rgb(178, 178, 178);

}

#newTitle input, #tag {
    width: 508px;
    height: 40px;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}

#newTime, #newEntryTime {
    display: inline-block;
    width: 260px;
}

#newTime span, #newEntryTime span {
    display: block;
}

#newTime input, #newEntryTime input {
    padding: 0;
    width: 123px;
    height: 32px;
}

#newNum {
    width: 520px;
    height: 50px;
}

#newNum span {
    display: block;
}

#newNum input {
    padding-left: 10px;
    height: 30px;
}

#newTime, #newNum {
    margin: 5px auto;
}

#newContent {
    display: block;
    margin-top: 10px;
}

#content {
    width: 498px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

#activityInfo #addActivity {
    width: 145px;
    height: 43px;
    border-radius: 5px;
    background-color: rgba(0, 170, 238, 1);
    border-color: rgba(0, 170, 238, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 5px auto;
}

#addActivity:hover {
    cursor: pointer;
}

#close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
}

#close:hover {
    cursor: pointer;
}

