<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>拉帮结派</title>
    <link rel="stylesheet" type="text/css" href="/css/activityDetail.css"/>
    <script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{~/js/activityDetail.js}"></script>
    <script th:src="@{~/js/global.js}"></script>
</head>
<body>
<div id="head">
    <img id="logo" th:src="@{~/img/logo.PNG}"/>
    <!--<div id="link">
        <span id="index">首页</span>
        <span id="discovery">发现</span>
    </div>-->
    <div id="searchDiv">
        <input id="searchInput" name="searchInput" type="text" placeholder="输入搜索内容"/>
        <img id="search" th:src="@{~/img/icon/search.ico}"/>
        <!--<span id="goToRegister">注册</span>或
        <sapn id="goToLogin">登录</sapn>-->
    </div>
    <div id="personal">
        <img class="personalCenter" th:src="@{~/img/icon/schedule.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/letter.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/user.ico}"/>
    </div>
</div>
<div id="main">
    <div id="detail">
        <div id="tags">
            <div class="tag"></div>
        </div>
        <span id="title"></span>
        <span id="activityDate" style="font-size: 14px;color: rgb(178,178,178);"></span>
        <hr/>
        <p></p>
        <div class="operations">
            <div><img th:src="@{~/img/icon/comments.ico}"/><span class="comments"></span></div>
            <div><img th:src="@{~/img/icon/thumb.ico}"/><span class="nice"></span></div>
            <div><img th:src="@{~/img/icon/star0.ico}"/><span class="star">收藏</span></div>
            <div><img th:src="@{~/img/icon/pay.ico}"/><span class="admire">赞赏</span></div>
        </div>
    </div>
    <div id="otherInfo">
        <div id="entryForm">
            <div id="entry">
                <span class="bar bar_title">报名/名额</span>
                <span class="bar bar_num"></span>
            </div>
            <div id="hot">
                <span class="bar bar_title">浏览量</span>
                <span class="bar bar_num"></span>
            </div>
            <span id="startDate" class="entryDate"></span>
            <div id="entryButton">立即报名</div>
            <span id="endDate" class="entryDate"></span>
        </div>
        <div id="creatorInfo">
            <span>发布人</span>
            <img id="creatorHeadImg"/>
            <span id="creatorName"></span>
            <div id="followList">
                <div id="activityNum">
                    <span>发帖</span>
                    <span></span>
                </div>
                <div id="followNum">
                    <span>关注者</span>
                    <span></span>
                </div>
            </div>
            <div id="follow">关注</div>
        </div>
    </div>
</div>
</body>
</html>
