<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/home.js"></script>
    <script th:src="@{~/js/global.js}"></script>
</head>
<body>
<div id="head">
    <img id="logo" th:src="@{~/img/logo.PNG}"/>
    <!--<div id="link">
        <span id="index">首页</span>
        <span id="discovery">发现</span>
    </div>-->
    <div id="searchDiv">
        <input id="searchInput" name="searchInput" type="text" placeholder="输入搜索内容"/>
        <img id="search" th:src="@{~/img/icon/search.ico}"/>
        <!--<span id="goToRegister">注册</span>或
        <sapn id="goToLogin">登录</sapn>-->
    </div>
    <div id="personal">
        <img class="personalCenter" th:src="@{~/img/icon/schedule.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/letter.ico}"/>
        <img class="personalCenter" id="goToHome" th:src="@{~/img/icon/user.ico}"/>
    </div>
</div>
<div id="main">
    <div id="personalInfo">
        <div id="headImg"></div>
        <form action="/updateUserHeadImg" method="post" enctype="multipart/form-data" name="imgForm" id="imgForm"
              hidden="hidden">
            <input type="file" accept="image/*" id="imgInput" class="form-control" name="imgInput"/>
            <input type="text" name="userId" id="imgUserId"/>
        </form>
        <div id="userInfo">
            <span id="userName"></span>
            <span id="school"></span>
            <span id="remark"></span>
        </div>
        <div id="edit">编辑</div>
    </div>
    <div id="history">
        <div id="label">
            <ul>
                <li id="recently">最近</li>
                <li id="myActivity">发起</li>
                <li is="joinedActivity">参与</li>
                <li>关注</li>
                <li>收藏</li>
                <li id="schedule">日程</li>
            </ul>
        </div>
        <div id="detail"></div>
    </div>
    <div id="otherInfo">
        <div id="followList">
            <div id="following">
                <span class="infoTitle">关注了</span>
                <span class="info followNum">2</span>
            </div>
            <div id="followed">
                <span class="infoTitle">关注者</span>
                <span class="info followNum">15</span>
            </div>
        </div>
        <div id="achievement">
            <span class="infoTitle">成就</span>
            <span class="info">获得赞 3 次</span>
            <span class="info">发起活动 5 次</span>
            <span class="info">被收藏 3 次</span>
        </div>
        <div id="credit">
            <div id="cancelNum">
                <span class="infoTitle">取消活动</span>
                <span class="info"><span style="color: rgb(255,0,0)">0</span>/10</span>
            </div>
            <div id="breakNum">
                <span class="infoTitle">无法参加</span>
                <span class="info"><span style="color: rgb(255,0,0)">2</span>/30</span>
            </div>
        </div>
    </div>
</div>

<div id="hideDiv" hidden="hidden"></div>
<div id="todaySchedule" hidden="hidden">
    <h3>今日安排</h3>
    <img th:src="@{~/img/icon/close.ico}" id="close"/>
    <div id="scheduleDetail">
        <span style="text-align: center;width: 600px;font-size: 14px; display: inline-block;">我发起的</span>
        <div id="mineActivity"></div>
        <span style="text-align: center;width: 600px; font-size: 14px;display: inline-block;">我参与的</span>
        <div id="othersActivity"></div>
    </div>
</div>
</body>
</html>
<!--
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>21:30-22:00</span>
                    <span>燕山大学第一体育场</span>
                    <span>报名/最大：10/15</span>
                    <span>男：女=7：3</span>
                    <span>夜跑计划</span>
                    <span class=".followerInfo">其他参与者信息</span>
                </div>
                <div class="operations">
                    <div class="cancel">无法参加</div>
                </div>
            </div>
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>13:00-17:00</span>
                    <span>燕山大学第一体育场</span>
                    <span>报名/最大：10/15</span>
                    <span>男：女=5：5</span>
                    <span>趣味运动会</span>
                    <span class="followerInfo">具体参与者信息</span>
                </div>
                <div class="operations">
                    <div class="notice">一键通知</div>
                    <div class="cancel">取消活动</div>
                </div>
            </div>-->
