<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="head">
    <img id="logo" th:src="@{~/img/logo.PNG}"/>
    <!--<div id="link">
        <span id="index">首页</span>
        <span id="discovery">发现</span>
    </div>-->
    <div id="searchDiv">
        <input id="searchInput" name="searchInput" type="text" placeholder="输入搜索内容"/>
        <img id="search" th:src="@{~/img/icon/search.ico}"/>
        <!--<span id="goToRegister">注册</span>或
        <sapn id="goToLogin">登录</sapn>-->
    </div>
    <div id="personal">
        <img class="personalCenter" th:src="@{~/img/icon/schedule.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/letter.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/user.ico}"/>
    </div>
</div>
<div id="main">
    <div id="personalInfo">
        <div id="headImg" >
        </div>
        <div id="userInfo">
            <span id="userName">石乐志</span>
            <span id="school">燕山大学</span>
            <span id="remark">我是一个石乐志的男人</span>
        </div>
        <div id="edit">编辑</div>
    </div>
    <div id="history">
        <div id="label">
            <ul>
                <li id="recently">最近</li>
                <li>帖子</li>
                <li>参与</li>
                <li>关注</li>
                <li>收藏</li>
                <li id="schedule">日程</li>
                <li>消息</li>
            </ul>
        </div>
        <div id="detail"></div>
    </div>
    <div id="otherInfo">
        <div id="followList">
            <div id="following">
                <span class="infoTitle">关注了</span>
                <span class="info">2</span>
            </div>
            <div id="followed">
                <span class="infoTitle">关注者</span>
                <span class="info">15</span>
            </div>
        </div>
        <div id="achievement">
            <span class="infoTitle">成就</span>
            <span class="info">获得赞 3 次</span>
            <span class="info">发起活动 5 次</span>
            <span class="info">被收藏 3 次</span>
        </div>
        <div id="credit">
            <div id="cancelNum">
                <span class="infoTitle">取消活动</span>
                <span class="info"><span style="color: rgb(255,0,0)">0</span>/10</span>
            </div>
            <div id="breakNum">
                <span class="infoTitle">无法参加</span>
                <span class="info"><span style="color: rgb(255,0,0)">2</span>/30</span>
            </div>
        </div>
    </div>
</div>

<div id="hideDiv" hidden="hidden"></div>
<div id="todaySchedule" hidden="hidden">
    <h3>今日安排</h3>
    <img th:src="@{~/img/icon/close.ico}" id="close"/>
    <div id="scheduleDetail">
        <span style="text-align: center;width: 600px;font-size: 14px; display: inline-block;">我发起的</span>
        <div id="mineActivity">
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>09:00-11:30</span>
                    <span>燕山大学第一教学楼</span>
                    <span>报名/最大：3/5</span>
                    <span>男：女=1：2</span>
                    <span>第一教学楼做毕业设计</span>
                    <span class=".followerInfo">具体参与者信息</span>
                </div>
                <div class="operations">
                    <div class="notice">一键通知</div>
                    <div class="cancel">取消活动</div>
                </div>
            </div>
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>13:00-17:00</span>
                    <span>燕山大学第一体育场</span>
                    <span>报名/最大：10/15</span>
                    <span>男：女=5：5</span>
                    <span>趣味运动会</span>
                    <span class=".followerInfo">具体参与者信息</span>
                </div>
                <div class="operations">
                    <div class="notice">一键通知</div>
                    <div class="cancel">取消活动</div>
                </div>
            </div>
        </div>
        <span style="text-align: center;width: 600px; font-size: 14px;display: inline-block;">我参与的</span>
        <div id="othersActivity">
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>06:00-07:00</span>
                    <span>燕山大学第一体育场</span>
                    <span>报名/最大：10/10</span>
                    <span>男：女=6：4</span>
                    <span>早起一小时</span>
                    <span class=".followerInfo">其他参与者信息</span>
                </div>
                <div class="operations">
                    <div class="cancel">无法参加</div>
                </div>
            </div>
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>18:00-21:00</span>
                    <span>燕山大学东区图书馆</span>
                    <span>报名/最大：5/5</span>
                    <span>男：女=1：4</span>
                    <span>阅读分享会</span>
                    <span class=".followerInfo">其他参与者信息</span>
                </div>
                <div class="operations">
                    <div class="cancel">无法参加</div>
                </div>
            </div>
            <div class="activityDetail">
                <div class="activityInfo">
                    <span>21:30-22:00</span>
                    <span>燕山大学第一体育场</span>
                    <span>报名/最大：10/15</span>
                    <span>男：女=7：3</span>
                    <span>夜跑计划</span>
                    <span class=".followerInfo">其他参与者信息</span>
                </div>
                <div class="operations">
                    <div class="cancel">无法参加</div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
<script language="JavaScript">
    $(function () {
        $("#label ul li").first().css("border-bottom","3px solid rgb(0, 170, 238)");
        $("#detail").load("/recently");
    });
    $("#label ul li").click(function () {
        $(this).css("border-bottom","3px solid rgb(0, 170, 238)");
        $(this).siblings("li").css("border-bottom","0px solid");
    });
    $("#schedule").click(function () {
        $("#detail").load("schedule.html");
    });
    $("#recently").click(function () {
        $("#detail").load("/recently");
    })
</script>