<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>拉帮结派</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="head">
    <img id="logo" th:src="@{~/img/logo.PNG}"/>
    <!--<div id="link">
        <span id="index">首页</span>
        <span id="discovery">发现</span>
    </div>-->
    <div id="searchDiv">
        <input id="searchInput" name="searchInput" type="text" placeholder="输入搜索内容"/>
        <img id="search" th:src="@{~/img/icon/search.ico}"/>
        <!--<span id="goToRegister">注册</span>或
        <sapn id="goToLogin">登录</sapn>-->
    </div>
    <div id="personal">
        <img class="personalCenter" th:src="@{~/img/icon/schedule.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/letter.ico}"/>
        <img class="personalCenter" th:src="@{~/img/icon/user.ico}"/>
    </div>
</div>

<div id="main">
    <div id="detail">
        <div class="activity">
            <div class="infoDiv">
                <img th:src="@{~/img/userheadimg/userheadimg1.jpg}" class="userHeadImg" style="width: 30px;height: 30px;"/>
                <span class="userName">石乐志</span>
                <span class="userRemark">我就是石乐志的杠精</span>
                <span class="tag">抬杠</span>
            </div>
            <span class="title">快来和我抬杠吧</span>
            <p class="content">我们相约每天都在qq和微信里抬杠</p>
            <div class="operations">
                <div><img th:src="@{~/img/icon/comments.ico}"/><span class="comments">430条评论</span></div>
                <div><img th:src="@{~/img/icon/thumb.ico}"/><span class="nice">20个赞</span></div>
                <div><img th:src="@{~/img/icon/star0.ico}"/><span class="star">收藏</span></div>
                <div><img th:src="@{~/img/icon/pay.ico}"/><span class="admire">赞赏</span></div>
            </div>
        </div>

        <div class="activity">
            <div class="infoDiv">
                <img th:src="@{~/img/userheadimg/userheadimg1.jpg}" class="userHeadImg" style="width: 30px;height: 30px;"/>
                <span class="userName">石乐志</span>
                <span class="userRemark">我就是石乐志的杠精</span>
                <span class="tag">图书馆</span>
            </div>
            <span class="title">2018年春季读书分享会</span>
            <p class="content">重要的事情说三遍！！<br/>
                这周日上午9点在东区燕山大学图书馆门口集合！<br/>
                这周日上午9点在东区燕山大学图书馆门口集合！<br/>
                这周日上午9点在东区燕山大学图书馆门口集合！<br/>
                <br/>
                活动从今天开始，持续一周，<br/>
                下周日，会有读书论坛会，大家把自己看的书介绍给大家。<br/>
                <br/>
                而且准备了丰厚的奖品，现场还有很多零食，欢迎大家参加！！！</p>
            <div class="operations">
                <div><img th:src="@{~/img/icon/comments.ico}"/><span class="comments">430条评论</span></div>
                <div><img th:src="@{~/img/icon/thumb.ico}"/><span class="nice">20个赞</span></div>
                <div><img th:src="@{~/img/icon/star0.ico}"/><span class="star">收藏</span></div>
                <div><img th:src="@{~/img/icon/pay.ico}"/><span class="admire">赞赏</span></div>
            </div>
        </div>
    </div>
    <ul id="tags">
        <li>
            <div id="tags_1" class="iconDiv"></div><span>泡图书馆</span>
        </li>
        <li>
            <div id="tags_2" class="iconDiv"></div><span>踏遍河山</span>
        </li>
        <li>
            <div id="tags_3" class="iconDiv"></div><span>运动达人</span>
        </li>
        <li>
            <div id="tags_4" class="iconDiv"></div><span>联谊活动</span>
        </li>
    </ul>
    <ul id="mine">
        <li id="mine1">
            <div id="mine_1" class="iconDiv"></div><span>我要发帖</span>
        </li>
        <li id="mine2">
            <div id="mine_2" class="iconDiv"></div><span>我的收藏</span>
        </li>
        <li id="mine3">
            <div id="mine_3" class="iconDiv"></div><span>我的赞赏</span>
        </li>
        <li id="mine4">
            <div id="mine_4" class="iconDiv"></div><span>最近查看</span>
        </li>
    </ul>
</div>

<div id="hideDiv" hidden="hidden"></div>

<div id="newActivity" hidden="hidden">
    <img id="close" th:src="@{~/img/icon/close.ico}"/>
    <h3 style="text-align: center">发帖</h3>
    <span style="text-align: center;display: block;font-size: 12px;color: rgb(178,178,178);">发起一次活动，和未来的朋友一起结伴出行吧！</span>
    <form action="" method="post">
        <ul id="activityInfo">
            <li id="newTitle">
                <input type="text" id="activityTitle" placeholder="活动标题" name="title"/>
            </li>
            <li id="newTag">
                <input type="text" id="tag" placeholder="活动所属标签" name="tag"/>
            </li>
            <li id="newTime">
                <span>活动起止时间</span>
                <input type="date" placeholder="开始时间" name="startTime"/>
                <input type="date" placeholder="结束时间" name="endTime"/>
            </li>
            <li id="newEntryTime">
                <span>报名起止时间</span>
                <input type="date" placeholder="开始时间" name="entryStartTime"/>
                <input type="date" placeholder="结束时间" name="entryEndTime"/>
            </li>
            <li id="newNum">
                <span>人数</span>
                <input type="number" placeholder="人数限制" name="totalNum"/>
            </li>
            <li id="newContent">
                <span>具体活动内容</span>
                <textarea id="content" cols="100" rows="6" hard="hard" placeholder="输入具体的活动内容"></textarea>
            </li>
            <li>
                <input type="submit" value="发起" id="addActivity"/>
            </li>
        </ul>
    </form>
</div>

</body>
</html>
<script language="JavaScript">
   $(function () {
       $(".content").each(function () {
           /*alert($(this).css("height"));*/
           if($(this).css("height")==$(this).css("max-height")){

           }
       })
   });
   $("#mine1").click(function () {
       $("#hideDiv").show();
       $("#newActivity").show();
   });
   $("#close").click(function () {
       $("#hideDiv").hide();
       $("#newActivity").hide();
   });
</script>