<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>拉帮结派</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{~/js/index.js}"></script>
    <script th:src="@{~/js/global.js}"></script>
</head>
<body>
<div id="head">
    <img id="logo" th:src="@{~/img/logo.PNG}"/>
    <!--<div id="link">
        <span id="index">首页</span>
        <span id="discovery">发现</span>
    </div>-->
    <div id="searchDiv">
        <!--<input id="searchInput" name="searchInput" type="text" placeholder="输入搜索内容"/>
        <img id="search" th:src="@{~/img/icon/search.ico}"/>-->
        <div id="loginDiv">
        <span id="goToRegister">注册</span>或
        <sapn id="goToLogin">登录</sapn>
        </div>
    </div>
    <div id="personal">
        <img class="personalCenter" th:src="@{~/img/icon/schedule.ico}"/>
        <!--<img class="personalCenter" th:src="@{~/img/icon/letter.ico}"/>-->
        <img class="personalCenter" id="goToHome" th:src="@{~/img/icon/user.ico}"/>
        <img class="personalCenter" id="logout" th:src="@{~/img/icon/logout.ico}"/>
    </div>
</div>

<div id="main">
    <div id="detail"></div>
    <ul id="tags">
        <li>
            <div id="tags_1" class="iconDiv"></div>
            <span>泡图书馆</span>
        </li>
        <li>
            <div id="tags_2" class="iconDiv"></div>
            <span>踏遍河山</span>
        </li>
        <li>
            <div id="tags_3" class="iconDiv"></div>
            <span>运动达人</span>
        </li>
        <li>
            <div id="tags_4" class="iconDiv"></div>
            <span>联谊活动</span>
        </li>
    </ul>
    <ul id="mine">
        <li id="mine1">
            <div id="mine_1" class="iconDiv"></div>
            <span>我要发起</span>
        </li>
        <li id="mine2">
            <div id="mine_2" class="iconDiv"></div>
            <span>我的收藏</span>
        </li>
    <!--    <li id="mine3">
            <div id="mine_3" class="iconDiv"></div>
            <span>我的赞赏</span>
        </li>-->
        <li id="mine4">
            <div id="mine_4" class="iconDiv"></div>
            <span>最近查看</span>
        </li>
    </ul>
</div>
</body>
</html>