<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录到拉帮结派</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/loginPage.css}"/>
    <script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{~/js/loginPage.js}"></script>
    <script th:src="@{~/js/global.js}"></script>
</head>
<body>
<div id="logoDiv"><img id="logo" th:src="@{~/img/logo.PNG}"/></div>
<span id="headTitle">登录到拉帮结派</span>
<form id="loginForm" method="post" action="">
    <ul id="loginInfoList">
        <li class="loginInfo">
            <span class="title">邮箱</span>
            <input type="text" placeholder="输入您的邮箱" name="email" id="email"/>
        </li>
        <li class="loginInfo">
            <span class="title">密码</span>
            <span class="title" id="getPassword">忘记密码？</span>
            <input type="password" placeholder="输入密码" name="password" id="password"/>
        </li>
        <li class="loginInfo">
            <input type="submit" value="登录" id="loginButton"/>
        </li>
    </ul>
</form>
<div id="goToRegister">
    <span>还没有账号？点击这里快去注册一个吧！</span>
</div>

</body>
</html>