<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

    <div class="activity">
        <div class="infoDiv">
            <img th:src="@{~/img/logo.PNG}" class="userHeadImg" style="width: 30px;height: 30px;"/>
            <span class="userName">石乐志</span>
            <span class="userRemark">我就是石乐志的杠精</span>
            <span class="tag">抬杠</span>
        </div>
        <span class="title">快来和我抬杠吧</span>
        <p class="content">我们相约每天都在qq和微信里抬杠</p>
        <div class="operations">
            <div><img th:src="@{~/img/icon/comments.ico}"/><span class="comments">430条评论</span></div>
            <div><img th:src="@{~/img/icon/thumb.ico}"/><span class="nice">20个赞</span></div>
            <div><img th:src="@{~/img/icon/star0.ico}"/><span class="star">收藏</span></div>
            <div><img th:src="@{~/img/icon/pay.ico}"/><span class="admire">赞赏</span></div>
        </div>
    </div>
</body>
</html>