<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>加入拉帮结派</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/register.css}"/>
</head>
<body>
<div>
    <div id="head">
        <img id="logo" th:src="@{~/img/logo.PNG}"/>
        <input id="searchInput" name="searchInput" type="text" placeholder="输入搜索内容"/><img id="search" th:src="@{~/img/search.jpg}"/>
        <span>注册</span>或<sapn>登录</sapn>
    </div>
    <form id="registerForm" action="/register">
        <ul id="registerInfoList">
            <li class="registerInfo">
                <span class="title">用户名</span>
                <input type="text" id="userName" name="userName" placeholder="输入您的用户名" autocomplete="off" />
            </li>
            <li class="registerInfo">
                <span class="title">密码</span>
                <input type="password" id="password" name="password" placeholder="输入您的密码（6到16位字符" autocomplete="off" />
            </li>
            <li class="registerInfo">
                <span class="title">手机号</span>
                <input type="tel" id="phone" name="phone" placeholder="输入您的手机号" autocomplete="off" />
            </li>
            <li class="registerInfo" style="margin-top: 30px;">
                <input type="text" id="valCode" name="valCode" placeholder="输入手机验证码" style="width:165px;" autocomplete="off" />
                <span id="getValCode">获取短信验证码</span>
            </li>
            <li class="registerInfo" >
                <input type="button" id="registerButton" value="注册" style="width: 300px;"/>
            </li>
        </ul>
    </form>

</div>
</body>
</html>