<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.dao.TagMapper">
    <resultMap id="TagDOMap" type="com.personal.model.DO.TagDO">
        <id column="tag_id" property="tagId" jdbcType="INTEGER"/>
        <result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_date" property="tagName" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="TagBaseMap" type="com.personal.model.VO.TagVO">
        <id column="tag_id" property="tagId" jdbcType="INTEGER"/>
        <result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.personal.model.DO.TagDO" useGeneratedKeys="true" keyProperty="tagId">
        INSERT INTO tags
        (tag_name,creator,create_date)
        VALUES
        (#{tagName,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP})
    </insert>

    <select id="getLikeName" parameterType="java.lang.String" resultMap="TagBaseMap">
        SELECT
          tag_id,tag_name
        FROM tags
        WHERE tag_name LIKE concat(concat('%',#{tagName,jdbcType=VARCHAR}),'%')
    </select>

    <select id="getIsName" parameterType="java.lang.String" resultMap="TagBaseMap">
        SELECT
          tag_id,tag_name
        FROM tags
        WHERE tag_name =#{tagName,jdbcType=VARCHAR}
    </select>

    <insert id="starTag" parameterType="com.personal.model.VO.StarTag">
        INSERT INTO hobby (user_id, tag_id)
        VALUES (#{userId,jdbcType=VARCHAR},#{tagId,jdbcType=INTEGER})
    </insert>

    <select id="judgeStar" parameterType="com.personal.model.VO.StarTag" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM hobby
        WHERE user_id=#{userId,jdbcType=VARCHAR} AND tag_id=#{tagId,jdbcType=INTEGER}
        limit 1
    </select>
</mapper>